@media (max-width:670px )
    .event-section {
      width:100%;
      margin-bottom:50px;
    }

    .manegement-section {
      width:100%;
      margin-bottom:50px
    }

footer {
    text-align:center;
  }
    
  }
